@import './base/modern-reset.scss';
@import "./base/fonts.scss";
@import "./base/mixins.scss";
@import './base/base.scss';
@import './base/layout.scss'; // FIXME
@import './base/debug.scss'; // TODO commment

@import './components/icon.scss';
@import './components/icon-menu.scss';
@import './components/icon-menu-close.scss';
@import './components/icon-cart.scss';
@import './components/button.scss';
@import './components/header.scss';
@import './components/headtop.scss';
@import './components/nav.scss';
@import './components/drawer.scss';
@import './components/scrim.scss';
@import './components/slider.scss';
@import './components/slider-simple.scss';

// FIXME move to `pages/product.scss`
@import './components/product.scss';
