button {
  position: relative;
  border: none;
  cursor: pointer;
  transition: background-color var(--duration-medium1);

  &.button-simple {
    display: flex;
    align-items: center;
    height: var(--height-button-simple);
    padding: 26px 36px;
    border-radius: var(--border-radius-rectangle);
    border: var(--thickness-button-simple-border) solid transparent;
    background-color: var(--color-secondary);
    color: var(--color-on-primary);
    font-family: 'nunito800';
    text-transform: uppercase;
    word-spacing: var(--word-spacing-button-simple);
  }

  &.button-icon {
    display: grid;
    place-items: center;
    height: var(--size-button-icon);
    width: var(--size-button-icon);
    margin: var(--margin-button-icon);
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
  }

  &.button-fab {
    position: fixed;
    bottom: var(--space-s);
    right: var(--space-s);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size-button-fab);
    width: var(--size-button-fab);
    border-radius: 50%;
    border: var(--thickness-button-simple-border) solid transparent;
    background-color: var(--color-neutral);
    color: var(--color-on-neutral);
    z-index: var(--z-index-backbutton);
  }

  &.secondary {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border-color: var(--color-neutral2);
  }

  &:hover,
  &.button-fab:hover {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border-color: var(--color-neutral2);
    transition: all var(--duration-medium1);
    transition-property: background-color, color, border-color;
  }

  &.button-icon:hover {
    background-color: var(--color-secondary-hover);
  }

  &.button-icon:hover .tip {
    opacity: 0.9;
    transition: opacity var(--duration-medium4);
  }

  &.secondary:hover {
    background-color: var(--color-secondary);
    color: var(--color-on-primary);
    border-color: var(--color-secondary);
  }

  .tip {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 4px 8px;
    border-radius: var(--border-radius-rectangle);
    background-color: var(--color-neutral);
    color: var(--color-on-primary);
    opacity: 0;
    font-size: 0.8em;
    transform: translateX(-50%);
    z-index: 1;
  }
}