.icon-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .first-line,
  .middle-line,
  .last-line {
    height: var(--thickness-icon);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-icon);
  }

  .middle-line {
    width: 60%;
  }
}