<nav>
  <ul>
    <li><a href="/">Page d'accueil</a></li>
    <li><a href="/html/productpage.html">Page produit</a></li>
    <li><a href="/html/productlistpage">Page liste produits</a></li>
    <li><a href="/html/basketpage">Panier</a></li>
    <li><a href="/html/loginpage">Se connecter</a></li>
    <li><a href="/html/registerpage">S'enregistrer</a></li>
    <li><a href="/html/myaccountpage">Mon compte</a></li>
  </ul>
</nav>