:root {
  // COLOR
  --color-primary: rgb(255, 192, 203);
  --color-on-primary: #fff;
  --color-secondary: rgb(0, 0, 0);
  --color-secondary-hover: rgba(0, 0, 0, 0.08);
  --color-secondary-hover-filled: rgba(0, 0, 0, 0.84);
  --color-surface: #fefbff;
  --color-on-surface: #1b1b1f;
  --color-neutral: #3b3b3f;
  --color-on-neutral: #fff;
  --color-black: #000;
  --color-ok: #206c38;
  --color-error: #f7343a;
  --color-okFIXME: #1eb33e;
  --color-errorFIXME: #B3261E;

  /* neutral TEMP TODO to delete */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral30: #46464a;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral50: #77777a;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral70: #acaaaf;
  --md-ref-palette-neutral80: #c7c6ca;
  --md-ref-palette-neutral90: #e4e2e6;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral98: #fbf8fd;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral100: #ffffff;

  // FONT
  --font-family: 'roboto400', sans-serif;
  --font-family-title: 'nunito800', sans-serif;
  --font-weight: 400;
  --font-weight-title: 800;
  --line-height: 1.45;
  --line-height-title: 1.25;
  --line-height-small: 1;

  // FONT-SIZE
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.69rem, calc(0.66rem + 0.15vw), 0.78rem);
  --step--1: clamp(0.83rem, calc(0.80rem + 0.18vw), 0.94rem);
  --step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
  --step-1: clamp(1.20rem, calc(1.15rem + 0.26vw), 1.35rem);
  --step-2: clamp(1.44rem, calc(1.38rem + 0.31vw), 1.62rem);
  --step-3: clamp(1.73rem, calc(1.65rem + 0.38vw), 1.94rem);
  --step-4: clamp(2.07rem, calc(1.98rem + 0.45vw), 2.33rem);
  --step-5: clamp(2.49rem, calc(2.38rem + 0.54vw), 2.80rem);

  // SPACE
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1140,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
  --space-2xs: clamp(0.5rem, calc(0.5rem + 0vw), 0.5rem);
  --space-xs: clamp(0.75rem, calc(0.75rem + 0vw), 0.75rem);
  --space-s: clamp(1rem, calc(1rem + 0vw), 1rem);
  --space-m: clamp(1.5rem, calc(1.5rem + 0vw), 1.5rem);
  --space-l: clamp(2rem, calc(2rem + 0vw), 2rem);
  --space-xl: clamp(3rem, calc(3rem + 0vw), 3rem);
  --space-2xl: clamp(4rem, calc(4rem + 0vw), 4rem);
  --space-3xl: clamp(6rem, calc(6rem + 0vw), 6rem);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-family);
  font-size: var(--step-0); // FIXME
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-title);
}

// TODO to remove
header {
  background-color: #ffc0cb;
}
main {
  background-color: #888f52;
}
nav {
  background-color: #e8aa98;
}
footer {
  background-color: #bf9b6c;
}