header {
  background-color: hotpink;
}
main {
  background-color: lightgrey;
}
nav {
  background-color: aquamarine;
}
footer {
  background-color: maroon;
}
section {
  background-color: darkorange;
}

h1 {
  background-color: deeppink;
}

h2 {
  background-color: darkkhaki;
}

h3 {
  background-color: dodgerblue;
}

p {
  background-color: cadetblue;
}