header,
footer {
  border: 4px solid #2672FA;
}

main {
  border: 4px solid #C24CD6;
}

section,
nav,
header .main,
.headtop {
  border: 4px solid crimson;
  margin-inline: 4px;
}

h1 {
  background-color: deeppink;
}

h2 {
  background-color: hotpink;
}

h3 {
  background-color: pink;
}

p {
  background-color: lightgray;
  border: 1px solid black;
}