.logo {
  //   height: 6em;
  //   padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

header,
footer {
  border: 4px solid #2672FA;
}

main {
  border: 4px solid #C24CD6;
}

section,
header .main,
.headtop {
  border: 4px solid crimson;
  margin-inline: 4px;
}

h1 {
  background-color: deeppink;
}

h2 {
  background-color: hotpink;
}

h3 {
  background-color: pink;
}

p {
  background-color: lightgray;
  border: 1px dashed black;
}

// .icon {
//   background-color: aquamarine;
// }

// button {
//   background-color: black;
// }

// .drawer .header {
//   background-color: pink;
// }