@mixin hide-scrollbar() {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin grab() {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}