<button class="button-icon menu-open" onkeypress="console.log('native pressed', document.querySelector('#buttonMenu')); document.querySelector('#buttonMenu').click()">
  <button-menu>
    {{> svg/icon-menu}}
  </button-menu>
  <span class="tip">Menu</span>
</button>
{{!-- <button-menu>
  {{> svg/icon-menu}}
</button-menu> --}}
