<footer>my footer</footer>

{{> drawer content='nav-mobile'}}

<my-scrim></my-scrim>

<span class="back-top">
  <button class="button-fab floating" onclick="window.scrollTo({top:0, left:0, behavior: 'smooth'})">
    {{> svg/icon-arrow-up}}
  </button>
</span>

<script>
  {{> theme.js }}
</script>