<footer>
  <h2>Footer</h2>
  {{> drawer content='nav-mobile'}}
</footer>

<div class="back-top">
  <button class="button-fab" onclick="window.scrollTo({top:0, left:0, behavior: 'smooth'})">
    {{> svg/icon-arrow-up}}
  </button>
</div>

<my-scrim></my-scrim>

<script>
  {{> theme.js }}
</script>