<header class="header">
  <div class="main">
    <button-menu>
      {{> svg/icon-menu}}
    </button-menu>
    <a href="/">
      {{> img width=176 height=42 class="logo"}}
    </a>
    <button class="button-icon">🛒</button>
  </div>
  {{> headtop}}
</header>