<div class="headtop">
  {{!-- <section class="promo-slider slider">
    <div class="slider__display">
      <ul>
        <li>
          <p>
            Livraison offerte en France à partir de 900€
          </p>
        </li>
        <li>
          <p>
            Click & collect : commandez sur tentebarnumts.fr, retirez vos achats au showroom de Lille
          </p>
        </li>
        <li>
          <p>
            1 acheté = 1 offert
          </p>
        </li>
      </ul>
    </div>
    <div>
      <div class="swiper-button-prev">
        <button class="button-icon">
          {{> svg/icon-arrow-prev}}
          <span class="tip">Précédent</span>
        </button>
      </div>
      <div class="swiper-button-next">
        <button class="button-icon">
          {{> svg/icon-arrow-next}}
          <span class="tip">Suivant</span>
        </button>
      </div>
    </div>
  </section> --}}
</div>