<header class="header">
  <div class="main">
    <button class="button-icon menu-open">
      {{> svg/icon-menu}}
    </button>
    <a href="/">
      {{> img width=176 height=42 class="logo"}}
    </a>
    <button class="button-icon">🛒</button>
  </div>
  {{> headtop}}
</header>