<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <style>
    {{> theme-critical.css}}
  </style>

  {{#if css}}
    <style>
      {{> (lookup . 'css')}}
    </style>
  {{/if}}

  {{!-- <link rel="preload" href="/css/{{pagename}}.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/{{pagename}}.css"></noscript> --}}
</head>