<div class="headtop">
  <section>
    <div class="slider-simple">
      <button class="slider-simple__prev">{{> svg/icon-arrow-prev}}</button>

      <div class="slider-simple__display">
        <ul>
          <li>
              Livraison offerte en France à partir de 900€
          </li>
          <li>
              Click & collect : commandez sur tentebarnumts.fr, retirez vos achats au showroom de Lille
            </p>
          </li>
          <li>
              1 acheté = 1 offert
          </li>
        </ul>
      </div>
      <button class="slider-simple__next">{{> svg/icon-arrow-next}}</button>
    </div>
  </section>
</div>