<nav>
  <ul>
    <li><a href="src/html/productpage.html">Page produit</a></li>
    <li><a href="src/html/productlistpage">Page liste produits</a></li>
    <li><a href="src/html/basketpage">Panier</a></li>
    <li><a href="src/html/loginpage">Se connecter</a></li>
    <li><a href="src/html/registerpage">S'enregistrer</a></li>
    <li><a href="src/html/myaccountpage">Mon compte</a></li>
  </ul>
</nav>