<div class="product__slider slider">
  <div class="slider__display">
    <ul>
      <li>
        {{> img src="img/slider1.png" alt="slider 1" height=400 width=400}}
      </li>
      <li>
        {{> img src="img/slider2.png" alt="slider 2" height=400 width=400}}
      </li>
      <li>
        {{> img src="img/slider3.png" alt="slider 3" height=400 width=400}}
      </li>
      <li>
        {{> img src="img/slider4.png" alt="slider 4" height=400 width=400}}
      </li>
      <li>
        {{> img src="img/slider5.png" alt="slider 5" height=400 width=400}}
      </li>
      <li>
        {{> img src="img/slider6.png" alt="slider 6" height=400 width=400}}
      </li>
      <li>
        {{> img src="img/slider7.png" alt="slider 7" height=400 width=400}}
      </li>
    </ul>
  </div>
  <div class="slider__track">
    <button class="slider__track__prev">{{> svg/icon-arrow-prev}}</button>
    <ul>
      <li>
        <button class="slider__track--index selected" data-index="1">
          {{> img src="img/slider1.png" alt="slider 1" height=400 width=400}}
        </button>
      </li>
      <li>
        <button class="slider__track--index" data-index="2">
          {{> img src="img/slider2.png" alt="slider 2" height=400 width=400}}
        </button>
      </li>
      <li>
        <button class="slider__track--index" data-index="3">
          {{> img src="img/slider3.png" alt="slider 3" height=400 width=400}}
        </button>
      </li>
      <li>
        <button class="slider__track--index" data-index="4">
          {{> img src="img/slider4.png" alt="slider 4" height=400 width=400}}
        </button>
      </li>
      <li>
        <button class="slider__track--index" data-index="5">
          {{> img src="img/slider5.png" alt="slider 5" height=400 width=400}}
        </button>
      </li>
      <li>
        <button class="slider__track--index" data-index="6">
          {{> img src="img/slider6.png" alt="slider 6" height=400 width=400}}
        </button>
      </li>
      <li>
        <button class="slider__track--index" data-index="7">
          {{> img src="img/slider7.png" alt="slider 7" height=400 width=400}}
        </button>
      </li>
    </ul>
    <button class="slider__track__next">{{> svg/icon-arrow-next}}</button>
  </div>
</div>
